<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="<%= asset_path('fonts.styl') %>">
  <link rel="stylesheet" href="<%= asset_path('main.styl') %>">
</head>

<body>
  <div id="app">
    <div id="background" >
      <canvas></canvas>
    </div>
  </div>
  <script src="<%= asset_path('main.ts') %>"></script>
</body>

</html>